@model IEnumerable<BBBZ.Models.SelectableGroup>

@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Groups</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-sm" })
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Text)
        </th>
        <th>
            Description
        </th>
        <th>
            Parent
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            <a href="@Url.Action("Details",null,new { id = item.ID})">
                @Html.DisplayFor(modelItem => item.Text)
             </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group.Description)
        </td>
        <td>
            @if (item.Group.Parent == null)
            {
                <i> no parent</i>
            }
            else
            {
                <a href="@Url.Action("Details",null,new { id = item.Group.Parent.ID})">
                    @item.Group.Parent.Title
                </a>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

