@model IEnumerable<BBBZ.Models.UserManagerDataView>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>
    <div>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-sm" })
    </div>
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TheUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locked)
        </th>
        <th>
            Groups
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.TheUser.UserName,"Index", "Profile", new { username = item.TheUser.UserName },null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locked)
            </td>
            <td>
                @if (item.AssignedGroups == null || item.AssignedGroups.Count == 0)
                {
                    <i> no groups </i>
                }
                else
                {
                    foreach (var g in item.AssignedGroups)
                    {
                        <a href="@Url.Action("Details","Group",new { id = g.ID})"> @g.Title </a> <i>,</i>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { username = item.TheUser.UserName }) |
                    @if(item.Locked)
                    {
                        @Html.ActionLink("UnLock", "Lock", new { username = item.TheUser.UserName , Locked = false})
                    }
                    else
                    {
                        @Html.ActionLink("Lock", "Lock", new { username = item.TheUser.UserName, Locked = true })
                    }
            </td>
        </tr>
    }

</table>
