@model BBBZ.Models.Profile

@{
    ViewBag.Title = "Details";
    
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
	<hr />
    <dl class="dl-horizontal">
        <dd>
                <div class="form-group">
                    <div class="col-md-offset-2">
                        <img src="@(Model.Image)" alt="@(Model.username)'s profile image" height="460" width="460" style="border:3px solid black" />
                    </div>
                </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastVisitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastVisitDate)
        </dd>

    </dl>
</div>
<p>
    <input type="button" value="Back" class="btn btn-sm btn-warning" onclick="history.go(-1);" />
</p>
