@model BBBZ.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgURl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgURl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
