@model BBBZ.Models.AdminViewModel
@{
    ViewBag.Title = "Admin";

    string jsonMenus="[";
    for (int i = 0 ; i < Model.JsonOBJ.Count ; i++)
    {
        jsonMenus += "'" + Model.JsonOBJ[i] + (i + 1 == Model.JsonOBJ.Count ? "']" : "',\r\n ");
    }
}

@helper addCancelButtonForUser(string username)
{
    using (Html.BeginForm("CancelUser", "Admin", new { username = username }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @:<input type="submit" class="btn btn-xs btn-danger" value="cancel" />
    }
}

@helper addAcceptButtonForUser(string username,string type)
{
    using (Html.BeginForm("AcceptUser", "Admin", new { username = username, type = type }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @:<input type="submit" class="btn btn-xs btn-success" value="accept" />
    }
}

<div class="sidenav">
    <div class="row"> <a href="#" onclick="showThis(0);"> Menus </a> </div>
    <div class="row"> <a href="#" onclick="showThis(1);"> New users </a> </div>
    <div class="row"> <a href="#" onclick="showThis(2);"> Public Data </a> </div>
    <div class="row"> <a href="#" onclick="showThis(3);"> News </a> </div>
</div>

<div class="main">

    <div class="jumbotron" id="div0">
        <h2> Menus and Categories </h2>
        <hr />
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <input class="form-control" placeholder="Menu Name" id="txtNewMenuName" type="text"/>
                    </div>
                    <div class="col-md-4">
                        <input type="button" class="btn btn-info btn-sm" value="add" id="addMenuBtn" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-1">
                        @Html.Label("", "Menus:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-7">
                        <select class="form-control" id="menuDropList">
                         @{int index=0;}
                        @foreach (var m in Model.Menus)
                        {
                            <option value="@(index++)" data-id="@m.ID">@m.Name</option>
                        }
                        </select>
                    </div>
                    <div class="col-md-1">
                        <input type="button" class="btn btn-danger btn-sm" value="Delete" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-danger btn-sm" value="Make primery" />
                    </div>
                </div>
                <hr />


                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="dd nestable" id="nestable" style="min-height:200px;">
                                <ol class="dd-list" id="nestableContainer"></ol>
                            </div>
                            <input type="button" value="Save" class="btn btn-success" id="saveMenuButton">
                        </div>
                        <div class="col-md-6">
                            <form class="" id="menu-add">
                                <h3>Add new item</h3>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="addInputName" placeholder="Item name" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="addInputUrl" placeholder="URL" required>
                                </div>
                                <button class="btn btn-info" id="addButton">Add</button>
                            </form>
                            <form class="" id="menu-editor" style="display: none;">
                                <h3>Editing <span id="currentEditName"></span></h3>
                                <div class="form-group">
                                    <label for="addInputName">Name</label>
                                    <input type="text" class="form-control" id="editInputName" placeholder="Item name" required>
                                </div>
                                <div class="form-group">
                                    <label for="addInputUrl">URL</label>
                                    <input type="text" class="form-control" id="editInputUrl" placeholder="Url">
                                </div>
                                <button class="btn btn-info" id="editButton">Edit</button>
                            </form>
                        </div>
                    </div>
                    <div class="row output-container hidden">
                        <div class="col-md-offset-1 col-md-10">
                            <form class="form">
                                <textarea class="form-control" id="json-output" rows="5"></textarea>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="jumbotron" id="div1" style="display:none;">
        <h2> New users </h2>
        <h3> Students: </h3>
        @if (Model.NewUsersToAccept.Count > 0)
        {
            <table class="table table-bordered">
                <tr>
                    <th>username</th>
                    <th>Accept</th>
                    <th>cancel</th>
                </tr>
                @foreach (var i in Model.NewUsersToAccept)
                {
                    <tr>
                        <td>@Html.ActionLink(@i.UserName, "Index", "Users", new { user = @i.UserName }, null)</td>

                        <td> @addAcceptButtonForUser(i.UserName, "user") </td>
                        <td> @addCancelButtonForUser(i.UserName) </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p> no new students request </p>
        }
        <hr />
        <h3> Teachers:</h3>
        @if (Model.NewTeachersToAccept.Count > 0)
        {
            <table class="table table-bordered">
                <tr>
                    <th>username</th>
                    <th>accept</th>
                    <th>cancel</th>
                </tr>
                @foreach (var i in Model.NewTeachersToAccept)
                {
                    <tr>
                        <td>@Html.ActionLink(@i.UserName, "Index", "Users", new { user = @i.UserName }, null)</td>
                        <td> @addAcceptButtonForUser(i.UserName, "teacher") </td>
                        <td> @addCancelButtonForUser(i.UserName) </td>
                    </tr>
                }
            </table>

        }
        else
        {
            <p> no new teachers request </p>
        }

        <hr />
        <h3> Admins:</h3>
        @if (Model.NewAdminsToAccept.Count > 0)
        {
            <table class="table table-bordered">
                <tr>
                    <th>username</th>
                    <th>accept</th>
                    <th>cancel</th>
                </tr>
                @foreach (var i in Model.NewAdminsToAccept)
                {
                    <tr>
                        <td>@Html.ActionLink(@i.UserName, "Index", "Users", new { user = @i.UserName }, null)</td>
                        <td> @addAcceptButtonForUser(i.UserName, "admin") </td>
                        <td> @addCancelButtonForUser(i.UserName) </td>
                    </tr>
                }
            </table>

        }
        else
        {
            <p>  no new admins request </p>
        }

    </div>


    <div class="jumbotron" id="div2" style="display:none;">
        <h2> Public Data </h2>
        @if (Model.PublicData.Count > 0)
        {
            <table class="table table-bordered">
                <tr>
                    <th>Language</th>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Delete</th>
                </tr>
                @foreach (var i in Model.PublicData)
                {
                    <tr>
                        <td>@i.Language</td>
                        <td>@i.Title</td>
                        <td>@i.Text</td>

                        @using (Html.BeginForm("DeletePublicData", "Admin", new { id = @i.ID }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <td><input type="submit" class="btn btn-xs btn-danger" value="detele" /></td>
                        }
                    </tr>
                }
            </table>
        }
        else
        {
            <p> nothing found </p>
        }

        @using (Html.BeginForm("AddPublicData", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.addPublicData.Title, new { @class = "input-sm form-control", placeholder = "Title" })
                            @Html.ValidationMessageFor(x => x.addPublicData.Title)
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.addPublicData.Text, new { @class = "input-sm form-control", placeholder = "Text" })
                            @Html.ValidationMessageFor(x => x.addPublicData.Text)
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.DropDownListFor(x => x.addPublicData.Language, new SelectList(LocalizationHelper.GetSupportedLocales()), new { @class = "input-sm form-control" })
                        </div>
                    </div>

                    <div class="col-md-1">
                        <input type="submit" class="btn btn-success btn-sm" value="add" />
                    </div>
                    </div>
            </div>
        }
    </div>

    <div class="jumbotron" id="div3" style="display:none;">
        <h2> News </h2>
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Lang</th>
                <th>Date</th>
                <th>Duration</th>
                <th>Title</th>
                <th>Text</th>
                <th>Delete</th>
            </tr>
            @foreach (var i in Model.News)
            {
                <tr>
                    <td>@i.ID</td>
                    <td>@i.Language</td>
                    <td>@i.Date</td>
                    <td>@i.Duration</td>
                    <td>@i.Title</td>
                    <td>@i.Text</td>
                    <td>
                        @using (Html.BeginForm("DeleteNews", "Admin", new { id = @i.ID }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <input type="submit" class="btn btn-xs btn-danger" value="detele" />
                        }
                    </td>
                </tr>
            }
        </table>

        @using (Html.BeginForm("AddNews", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="container">
                <div class="row">
                    @Html.AntiForgeryToken()
                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.addNews.Date, new { id = "datetimepicker1", @class = "input-sm form-control", placeholder = "Start Date", value = DateTime.Now.ToString() })
                            @Html.ValidationMessageFor(x => x.addNews.Date)
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.addNews.Duration, new { @class = "input-sm form-control", placeholder = "Duraction" })
                            @Html.ValidationMessageFor(x => x.addNews.Duration)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.addNews.Title, new { @class = "input-sm form-control", placeholder = "Title" })
                            @Html.ValidationMessageFor(x => x.addNews.Title)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.addNews.Text, new { @class = "input-sm form-control", placeholder = "Text" })
                            @Html.ValidationMessageFor(x => x.addNews.Text)
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.DropDownListFor(x => x.addNews.Language, new SelectList(LocalizationHelper.GetSupportedLocales()), new { @class = "input-sm form-control" })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <input type="submit" class="btn btn-sm btn-success" value="add" />
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

</div>

@section scripts
{

    @Scripts.Render("~/bundles/myscript")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/nestable")

    <script>
        $('#nestable').nestable().on('change', updateOutput);

        var menuArray = @Html.Raw(jsonMenus)
        LoadJSONtoMenu(menuArray[0]);
        $('#menuDropList').on('change', function () { LoadJSONtoMenu(menuArray[$(this).val()]); });
        
    </script>
}