@model BBBZ.Models.AdminViewModel
@{
    ViewBag.Title = "Admin";
}

<div>
    <h2> New users </h2>
    @if (Model.NewUsersToAccept.Count > 0)
    {
    <ul>
        @foreach (var i in Model.NewUsersToAccept)
        {
            <li> @Html.ActionLink(@i.UserName, @i.UserName, "User") - <input type="button" class="btn btn-xs btn-success" value="accept"/> <input type="button" class="btn btn-xs btn-danger" value="cancel" /> </li>
        }
    </ul>
    }
    else
    {
        <p>nothing found </p>
    }
</div>
<hr />

<div>
    <h2> Teachers </h2>
    @if (Model.Teachers.Count > 0)
    {
        <ul>
            @foreach (var i in Model.Teachers)
            {
                <li> @Html.ActionLink(@i.UserName, @i.UserName, "Teacher") - <input type="button" class="btn btn-xs btn-warning" value="suspend" /> </li>
            }
        </ul>
    }
    else
    {
        <p> nothing found </p>
    }
</div>
<hr />

<div>
    <h2> Public Data </h2>
    @if(Model.PublicData.Count > 0)
    { 
        <ul>
            @foreach (var i in Model.PublicData)
            {
                <li> @i.Title: @i.Text  - <input type="button" class="btn btn-xs btn-danger" value="detele" /></li> 
            }
        </ul>
    }
    else
    {
        <p> nothing found </p>
    }
</div>
<hr />

<div>
    <h2> News </h2>
    <ul>
        @foreach (var i in Model.News)
        {
            <li> @i.Date - @i.Title: @i.Text  <input type="button" class="btn btn-xs btn-danger" value="delete" /> </li>
        }
    </ul>

    <div class="form-group">
        <input type="text" class="input-sm form-control" placeholder="Date" value="@DateTime.Now.ToString()">
    </div>

    <div class="form-group">
        <input type="text" class="input-sm form-control" placeholder="Title">
    </div>

    <div class="form-group">
        <input type="text" class="input-sm form-control" placeholder="Text">
    </div>

    <div class="form-group">
        <input type="button" class="btn btn-xs btn-primary" value="add new News" />
    </div>
</div>