@model BBBZ.Models.News

@{
    ViewBag.Title = "Create";
    
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>News</h4>
        <hr />
		<div>
			@Html.ActionLink("Back", "Index", null, new { @class="btn btn-xs btn-warning"})
		</div>
        @Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, null, new { @class = "has-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Text, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Text, null, new { @class = "has-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Photo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Photo, null, new { @class = "has-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Date, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.Date, null, new { @class = "has-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Duration, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Duration, null, new { @class = "has-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Language, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Language, new SelectList(ViewBag.AllLangauges, "Code", "Title", string.Empty), string.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Language, null, new { @class = "has-error" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success btn-sm" />
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(".datepicker").datepicker();
    </script>
}