@model IEnumerable<BBBZ.Models.Profile>
@{
    ViewBag.Title = "Search Result for " + ViewBag.Query;
}

<h2>Search Result for <i>@ViewBag.Query</i></h2>

<hr />
<form method="get" action="@Url.Action("Index","Search")">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <input type="text" name="query" value="@ViewBag.Query" placeholder="Query" class="form-control" />
        </div>
        <div class="col-sm-2 col-xs-6">
            @Html.DropDownList("lookingfor", new SelectList(new string[] { "Content", "User" }, ViewBag.lookingfor), new { @class = "form-control" })
        </div>
        <div class="col-sm-2 col-xs-6">
            @Html.DropDownList("pagesize", new SelectList(new int[] { 1, 2, 10, 20, 50, 100 }, ViewBag.pagesize), new { @class = "form-control" })
        </div>
        <div class="col-sm-2 col-xs-12">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
     </div>
    <hr />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            @if (Model == null || Model.Count() == 0)
            {
                <h4><i> Nothing found </i> </h4>
            }
            else
            {
                <div class="container">
                @foreach (var p in Model)
                {
                    <div class="row searchresultline">
                        <a target="_blank" href="@Url.Action("Index", "Profile", new { username = p.username})">
                            <div class="searchresultline">
                                <div class="col-xs-4 col-md-1">
                                    <img alt="@p.username's profile photo" src="@p.Image" class="boxedimage-xs" />
                                </div>
                                <div class="col-xs-8 col-md-8">
                                    @p.Name @p.LastName
                                    <div class="searchresult"> @p.username </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                </div>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <input type="submit" name="page" value="1" class="btn btn-info btn-xs" />
            <input type="submit" name="page" value="2" class="btn btn-info btn-xs" />
            <input type="submit" name="page" value="3" class="btn btn-info btn-xs" />
            <input type="submit" name="page" value="4" class="btn btn-info btn-xs" />
        </div>
    </div>
</form>