<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    @if(LocalizationHelper.IsRightToLeft())
    {
        @Styles.Render("~/Content/css-rtl");
        @Scripts.Render("~/bundles/bootstrap-rtl");
    }
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_NavBarPartial", ((BBBZ.Models.SharedLayoutViewModel)ViewBag.LayoutViewModel) == null ? null:
                ((BBBZ.Models.SharedLayoutViewModel)ViewBag.LayoutViewModel).TopMenuItems)
    <div class="container body-content">
        @RenderBody()
        @if (ViewBag.NoFooter == true)
        {
            
        }
        else
        { 
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year | @Resources.R.Underconstruction </p>
            </footer>
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @RenderSection("scripts", required : false)

    <div id="snackbar">Some text some message..</div>
</body>
</html>
