@{
    BBBZ.Models.SharedLayoutViewModel model = ((BBBZ.Models.SharedLayoutViewModel)ViewBag.LayoutViewModel);
    
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    @if(LocalizationHelper.IsRightToLeft())
    {
        @Styles.Render("~/Content/css-rtl");
        @Scripts.Render("~/bundles/bootstrap-rtl");
    }
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (model != null) 
    { 
        @Html.Partial("_NavBarPartial", model.TopMenuItems)
    }
    <div class="container body-content">
        <div class="row">
            <div class="col-md-9">
                @RenderBody()
            </div>

            <div class="col-md-3">
                @if(model != null)
                { 
                    @Html.Partial("_SideMenuPartial", model.SideMenus)
                }
            </div>

        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year | by <a href="https://github.com/bhlshrf/" target="_blank">Baha'a</a> </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @RenderSection("scripts", required : false)

    <div id="snackbar">Some text some message..</div>
</body>
</html>
