@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        
    <ul class="nav navbar-nav">
    <li class="dropdown special">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
           @User.Identity.GetUserName()
        </a>
        <ul class="dropdown-menu">
            <li> @Html.ActionLink("Message", "Index", "Message")</li>
            <li> @Html.ActionLink("Profile", "Index", "Profile", new { username = User.Identity.GetUserName() }, null)</li>
            <li> @Html.ActionLink("Setting", "Manage", "Account", routeValues : null, htmlAttributes : new { title = "Manage" })</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.R.Logout</a></li>
        </ul>
    </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink(Resources.R.Register, "Register", "Account", routeValues : null, htmlAttributes : new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.R.Login, "Login", "Account", routeValues : null, htmlAttributes : new { id = "loginLink" })</li>
    </ul>
}
