@helper DrawTheMenu(List<BBBZ.Models.Category> cat)
{
    if (cat != null)
    {
        foreach (var cor in cat)
        {
            if (cor.SubCategories.Count > 0)
            {
                @:<li class="dropdown-submenu"><a href="@cor.Url">
                    @cor.Key
                @:<b class="caret"></b></a>
                @:<ul class="dropdown-menu">
                    @DrawTheMenu(cor.SubCategories);
                @:</ul>
            }
            else
            {
                @:<li><a tabindex="-1" href="@cor.Url">
                    @cor.Key
                @:</a>
            }
             @:</li>
         }
    }
        
}


<ul class="nav navbar-nav">
    @DrawTheMenu(((List<BBBZ.Models.Category>)ViewBag.Menu))
</ul>

