@model BBBZ.Models.Content

@{
    ViewBag.Title = "Details";
    
}

<h2>Details</h2>

<div>
    <h4>Content</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntroText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntroText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullText)
        </dt>

        <dd>
           @Html.Raw( Model.FullText )
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @if (Model.Category == null)
            {
                <i> no category </i>
            }
            else
            { 
                <a href="@Url.Action("Details","Category", new { id = Model.Category.ID})"> @Html.DisplayFor(model => Model.Category.Title) </a>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Access)
        </dt>

        <dd>
            @if (Model.Access == null)
            {
                <i> no access level </i>
            }
            else
            {
                <a href="@Url.Action("Details","ViewLevel", new { id = Model.Access.ID})"> @Html.DisplayFor(model => Model.Access.Title) </a>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

        
        @foreach (var field in Model.CustomFieldValues)
        {
            <dt>
                @Html.DisplayFor(model => field.CustomField.Title)
            </dt>

            <dd>
                @Html.Raw(field.Value)
            </dd>
        }
    </dl>
</div>
<p>
    
    @if (((BBBZ.Models.Permission)ViewBag.Permission).Create_Contents == true)
    {
        @Html.ActionLink("Create New", "Create", new { id = Model.ID }, new { @class = "btn btn-sm btn-success" })
    }
    
    @if (((BBBZ.Models.Permission)ViewBag.Permission).Edit_Contents == true)
    {
        @Html.ActionLink("Edit this", "Edit", new { id = Model.ID }, new { @class = "btn btn-sm btn-info" })
        
        @Html.ActionLink("Custom", "Custom", new { id = Model.ID }, new { @class = "btn btn-sm btn-info" })
    }

    @if (((BBBZ.Models.Permission)ViewBag.Permission).Delete_Contents == true)
    {
        @Html.ActionLink("Delete this", "Delete", new { id = Model.ID }, new { @class = "btn btn-sm btn-danger" })
    }

    @if (((BBBZ.Models.Permission)ViewBag.Permission).See_Contents == true)
    {
        @Html.ActionLink("See the List", "Index", null, new { @class = "btn btn-sm btn-warning" })
    }
    
    <input type="button" value="Back" class="btn btn-sm btn-warning" onclick="history.go(-1);" /> 
</p>