@model IEnumerable<BBBZ.Models.Content>

@{
    ViewBag.Title = "Contents";
    
}

<h2>Contents</h2>

<p>
    @if (((BBBZ.Models.Permission)ViewBag.Permission).Create_Contents == true)
    {
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-sm" })
    }
</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Access)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Template)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Published)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                <a href="@Url.Action("Details", new { id= item.ID})">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            
            <td>
                @if (item.Category == null)
                {
                    <i> no category </i>
                }
                else
                {
                    <a href="@Url.Action("Details","Category", new { id= item.Category.ID})">
                        @Html.DisplayFor(modelItem => item.Category.Title)
                    </a>
                }
            </td>
            <td>
            @if(item.Access != null)
            {
                <a href="@Url.Action("Details","ViewLevel", new { id= item.Access.ID})">
                    @Html.DisplayFor(modelItem => item.Access.Title)
                </a>
            }
            </td>
            
            <td>
                @if (item.TheLanguage != null)
                {
                    @Html.DisplayFor(modelItem => item.TheLanguage.Title)
                }
                else
                {
                    <i> all </i>
                }
            </td>

            <td>
                 @Html.DisplayFor(modelItem => item.Template)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @if (((BBBZ.Models.Permission)ViewBag.Permission).Edit_Contents == true)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) @:|
                    @Html.ActionLink("CustromFields", "Custom", new { id = item.ID }) @:|
                }
                @if (((BBBZ.Models.Permission)ViewBag.Permission).Delete_Contents == true)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
