@model BBBZ.Models.Content

@{
    ViewBag.Title = "Visit";
    var tmp = new BBBZ.Models.ContentVisitLog();
}

<h2>Users Who Visit: <b> @Model.Title </b> </h2>

<input type="button" value="Back" class="btn btn-sm btn-warning" onclick="history.go(-1);" /> 
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(x => tmp.ID)
        </th>
        <th>
            @Html.DisplayNameFor(x => tmp.Username)
        </th>
        <th>
            @Html.DisplayNameFor(x => tmp.Date)
        </th>
    </tr>

@foreach (var item in Model.Log) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
    </tr>
}
</table>
