@model BBBZ.Models.Category

@{
    ViewBag.Title = "Details";    
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>


        <dt>
            Parent
        </dt>

        <dd>
            @if(Model.Parent == null)
            {
                <i> no parent </i>
            }
            else
            {
                var v = Model.Parent;
                while (v!=null)
	            {
                    <b> > </b> <a href="@Url.Action("Details", new { id = v.ID })"> @Html.DisplayFor(model => v.Title) </a>
                    v = v.Parent;
	            }
            }
        </dd>

        <dt>
            SubCategories
        </dt>
        <dd>
            @if (Model.SubCategories.Count == 0)
            {
              <i> no subcategories </i>
            }
            
            <ul>
                @foreach (var g in Model.SubCategories)
                {
                    <li> <a href="@Url.Action("Details", new { id = g.ID})"> @Html.DisplayFor(model => g.Title) </a> </li>
                }
            </ul>
        </dd>

        <dt>
            Contents
        </dt>
        <dd>
            @if (Model.Contents.Count == 0)
            {
                <i> no content </i>
            }

            <ul>
                @foreach (var g in Model.Contents)
                {
                    <li> <a href="@Url.Action("Details","Contents", new { id = g.ID})"> @Html.DisplayFor(model => g.Title) </a> </li>
                }
            </ul>
        </dd>


        <dt>
            Access
        </dt>

        <dd>
            @if(Model.Access == null)
            {
                  <i> no access selected </i>
            }
            else
            {
                <a href="@Url.Action("Details","ViewLevel", new { id = Model.Access.ID})"> @Html.DisplayFor(model => Model.Access.Title) </a>
            }
        </dd>

    </dl>
</div>
<p>
    
    @if (((BBBZ.Models.Permission)ViewBag.Permission).Create_Categories == true)
    {
        @Html.ActionLink("Create New", "Create", new { id = Model.ID }, new { @class = "btn btn-sm btn-success" })
    }
    
    @if (((BBBZ.Models.Permission)ViewBag.Permission).Edit_Categories == true)
    {
        @Html.ActionLink("Edit this", "Edit", new { id = Model.ID }, new { @class = "btn btn-sm btn-info" })
    }

    @if (((BBBZ.Models.Permission)ViewBag.Permission).Delete_Categories == true)
    {
        @Html.ActionLink("Delete this", "Delete", new { id = Model.ID }, new { @class = "btn btn-sm btn-danger" })
    }
    
    @if (((BBBZ.Models.Permission)ViewBag.Permission).See_Categories == true)
    {
        @Html.ActionLink("See The List", "Index", null, new { @class = "btn btn-sm btn-warning" })
    }
    
    <input type="button" value="Back" class="btn btn-sm btn-warning" onclick="history.go(-1);" />
</p>
