@model IEnumerable<BBBZ.Models.Category>

@{
    ViewBag.Title = "Index";
    ViewBag.NoFooter = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_AdminMenuPartial")

<div class="main">
    <div class="jumbotron">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Key)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th>
                    Parent
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                       <a href="/Category/Index/@item.ID">@Html.DisplayFor(modelItem => item.Key)</a> 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        @if (item.Parent != null)
                        {
                            @item.Parent.Key
                        }
                        else
                        {
                            <p>-</p>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
        </p>
    </div>    
</div>