@model IEnumerable<BBBZ.Models.CategoryView>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @if (((BBBZ.Models.Permission)ViewBag.Permission).Create_Categories == true)
    {
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-sm" })
    }
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.theCategory.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.theCategory.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.theCategory.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.theCategory.CreatedByUsername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.theCategory.Access)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.theCategory.Published)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.theCategory.ID)
        </td>
        <td>
            <a href="@Url.Action("Details", new { id = item.ID })"> @Html.DisplayFor(modelItem => item.Title) </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.theCategory.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.theCategory.CreatedByUsername)
        </td>
        <td>
            @if (item.theCategory.Access != null)
            {
                <a href="@Url.Action("Details", "ViewLevel", new { id = item.theCategory.Access.ID })">
                    @Html.DisplayFor(modelItem => item.theCategory.Access.Title)
                 </a>
            }
            else
            {
                <i> none </i>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.theCategory.Published)
        </td>
        <td>
            @if (((BBBZ.Models.Permission)ViewBag.Permission).Edit_Categories == true)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            }
            |            
            @if (((BBBZ.Models.Permission)ViewBag.Permission).Delete_Categories == true)
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>
